.parent {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 35px;
	grid-row-gap: 0px;
}

.card1 { 
	grid-area: 1 / 1 / 2 / 2;
	padding: 10px;
	padding-top: 0px;
	color: #9c2f30;
	text-align: justify;
}

.author1 {
	grid-area: 2 / 1 / 3 / 2;
	border-top: 2px solid #DCDCDC;
	padding: 10px;
}

.card_text {
	color: #000000;
}

.author2 { 
	grid-area: 2 / 2 / 3 / 3;
	border-top: 2px solid #DCDCDC;
	padding: 10px;
}

.card2 { 
	grid-area: 1 / 2 / 2 / 3;
	padding: 10px;
	padding-top: 0px;
	color: #9c2f30;
	text-align: justify;
}