.parent {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.div1 { 
	grid-area: 1 / 1 / 2 / 2; 
	border-color: #DCDCDC;
}

.div2 {
	grid-area: 2 / 1 / 3 / 2; 
	border-color: #DCDCDC;
}

.div3 { 
	grid-area: 2 / 2 / 3 / 3;
	border-color: #DCDCDC; 
}

.div4 { 
	grid-area: 1 / 2 / 2 / 3;
	border-color: #DCDCDC; 
}