body { font-family: time; }

.leftbar {
  width: 300px; 
  z-index: 1;
  top: 0; 
  left: 0;
  position: fixed; 
  background-color: #ddc8c4; 
  padding-top: 20px;
  top: 20;
  left: 10;
  overflow-x: hidden; 
}

.leftbar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.leftbar a.active {
  background-color: #847996;
  color: white;
}

.leftbar a:hover:not(.active) {
  background-color: #9c2f30;
  color: white;
}

h2 {
text-transform: uppercase;
font-size: 12 px;
font-family: Georgia;
}

.main {
  margin-left: 320px; 
  padding: 0px 20px;
  padding-top: 20px;
  top: 20;
  font-style: time;
  background-color: #ddc8c4;
}