@import "text_decor.css"; 
@import "headers.css"; 
@import "scrollbar.css";

@media only screen and (min-width: 961px) {
  body {
   /**/ 
  }
}

/* Tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    /* Yellow */
  }
}

body { 
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  font-weight: 100; 
  line-height: 1.5;
}

.leftbar {
  width: 200px; 
  z-index: 1;
  top: 0; 
  left: 0;
  position: fixed; 
  background-color: #ffff; 
  padding-top: 20px;
  top: 20;
  margin: auto;
  left: 10;
  /*overflow-x: hidden; */ 
}

img {
  pointer-events: none
}

.logo {
  margin-left: auto;
  display: block;
  margin-right: auto;
  pointer-events: none
} 

.leftbar a {
  margin-left: auto;
  display: block;
  text-align: center;
  margin-right: auto;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.leftbar a.active {
  background-color: #847996;
  color: white;
}

.leftbar a:hover:not(.active) {
  background-color: #9c2f30;
  color: white;
}

.navlink {
  border-bottom: none; 
  border-radius: 12px;
  border: none;
  color: white;
  padding: 0px;
  border: 2px solid #DCDCDC;
  width: 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  transition: all 0.5s;
}

blockquote { 
  padding: 0px 15px;
  border-left: 5px solid #d0d0d0; 
  color: #a9a9a9; 
  line-height: 1.5;
}

.subtitle {
  font-size: 18px;
  display: block;
  color: #88B7B5;
  font-weight: 100;
  letter-spacing: 1px; 
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.title {
  font-size: 24px;
  display: block;
  color: #9c2f30;
  font-weight: 100;
  letter-spacing: 1px; 
  font-family: 'Open Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.emoji {
  font-size: 17px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: -10px;
  line-height: .5px;
}

.text {
  line-height: 1.5;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 15px;
  background-color: #896A67;
  color: white;
  text-align: center;
}

.main {
  margin-left: 280px; 
  pointer-events: none
  font-weight: 80;
  padding: 0px 20px;
  padding-top: 20px;
  padding-right: 100px;
  top: 20;
  font-family: 'Open Sans', sans-serif;
  background-color: #fffff;
}


@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
}